body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.background_img {
  width: 100%;
  height: 110vh;
  background-repeat: no-repeat;
  z-index: -1;
  background-image: url(../img/background.png);
  position: fixed;
  background-size: cover;
  background-position: center;
}
.header__container,
.header__main_container {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px 0px 40px;
}

.header__main_container {
  justify-content: space-between;
  min-height: 68vh;
}

.header__nav_logo_links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
  padding: 0 180px 0 50px;
}
.header__nav_logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  width: 100%;
  height: 100px;
  cursor: pointer;
}
.header__nav_links {
  display: flex;
  gap: 35px;
}

.header__nav_language {
  display: flex;
  justify-content: flex-end;
  padding: 10px 50px 0px 0;
  gap: 20px;
  font-size: 12px;
  z-index: 3;
  position: relative;
}
.lang_btn,
.link_btn {
  background-color: #404449;
  padding: 2px 15px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
}

.link_btn {
  padding: 5px 25px;
  font-size: 14px;
}
.header__main_container {
  max-height: 400px;
}
.header__main_title {
  color: #cbc986;
  /* -webkit-text-stroke: 0.1px #ffea00; */
  font-size: 79px;
  margin: 0;
  letter-spacing: 4px;
  font-family: "Alumni Sans";
  font-weight: 600;
}
.header__main_underTitle_text {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}
.underTitle_second {
  font-size: 20px;
  font-weight: 200;
  font-family: "Calistoga";
}
.header__main_ip_port {
  color: #fff;
  font-weight: 200;
  font-size: 30px;
  font-family: "Bowlby One";
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  -webkit-text-stroke: 0.5px #000;
  max-width: 500px;
  margin: auto;
}
.ip {
  position: relative;
  cursor: pointer;
}
.port {
  position: relative;
  cursor: pointer;
}
.copied_text,
.copied_text_port {
  position: absolute;
  font-size: 16px;
  font-family: none;
  right: -15px;
  top: 10px;
  font-family: "Calistoga";
  -webkit-text-stroke: 0;
  color: #cbc986;
  opacity: 0;
  display: flex;
  animation: animate_text;
  animation-duration: 5s;
}
.copied_text_port {
  right: 60px;
}
.disabled {
  display: none;
}

.serv_img {
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 500px;
  border-radius: 10px;
}
.first_serv, .second_serv {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.servers_container {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.connect_btn {
  padding: 40px 20px;
  border-radius: 5px;
  color: #fff;
  background: #4d4d4d;
  text-shadow: 0 1px 0 rgb(0 0 0 / 10%);
  text-align: center;
  text-transform: uppercase;
}

@keyframes animate_text {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

@media (max-width:1921px) {
  .servers_container {
    margin-top: 100px;
  } 
}
@media (max-width:1500px) {
  .servers_container {
    margin-top: 30px !important;
  } 
}

@media (max-width: 1200px) {
  .header__nav_language {
    padding: 10px 10px 0 0;
  }
  
}

@media (max-width: 1100px) {
  .header__container {
    padding-bottom: 0;
  }
  .header__main_title {
    font-size: 60px;
  }
  .header__nav_logo_links {
    margin-bottom: 50px;
  }
}

@media (max-width: 1000px) {
  .header__nav_logo_links {
    padding-right: 100px;
    transition: 1s all ease;
  }
}
@media (max-width: 1000px) {
  .header__main_container {
    padding-bottom: 0;
  }
}
@media (max-width: 800px) {
  .header__nav_logo_links {
    padding-right: 10px !important;
  }
  .serv_img {
    width: 100% !important;
  }
  .connect_btn {
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    justify-content: center;
  }
  .first_serv, .second_serv {
    width: 500px;
  }
  .servers_container {
  }
}

@media (max-width: 700px) {
  .header__main_title {
    font-size: 50px;
  }
  .header__main_container {
    padding: 0;
  }
  .header__nav_logo_links {
    padding-right: 5px;
    transition: 1s all ease;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .header__nav_logo {
    width: 200px;
  }
  .header__nav_language {
    margin-bottom: 40px;
  }
}
@media (max-width: 580px) {
  .header__nav_logo_links {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px !important;
  }
  .header__nav_logo {
    justify-content: center;
    margin: 40px 0;
  }
  .header__main_container {
    font-size: 25px;
    min-height: 400px;
  }
}
@media (max-width: 576px) {
  .header__main_title {
    font-size: 40px;
  }
  .header__main_ip_port {
    font-size: 25px;
  }
  .copied_text,
  .copied_text_port {
    font-size: 10px;
  }
  .header__main_container {
    min-height: 400px;
  }
}
@media (max-width: 500px) {
  .header__nav_language {
    margin: auto;
    justify-content: center;
    padding-right: 0;
  }
  .header__nav_logo_links {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;
  }
  .header__nav_logo {
    width: 170px;
  }
}

@media (max-width: 480px) {
  .header__main_ip_port {
    font-size: 20px;
  }
  .header__main_underTitle_text {
    font-size: 14px;
  }
  .header__main_title {
    font-size: 40px;
  }
  .header__main_container {
    min-height: 400px;
  }
  .copied_text,
  .copied_text_port {
    font-size: 7px !important;
  }
  .copied_text_port {
    right: 40px;
  }
  .header__nav_links {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .header__container {
    padding: 0 10px 20px;
  }
  .header__main_title_box {
    min-width: 200px;
  }
}

@media (max-width: 375px) {
  .header__main_container {
    font-size: 25px;
    min-height: 350px;
  }
  .copied_text,
  .copied_text_port {
    font-size: 7px !important;
    top: 30px;
    right: 20px;
  }
  .copied_text_port {
    right: 40px;
  }
}
@media (max-width: 365px) {
  .header__main_container {
    font-size: 25px;
    min-height: 400px;
  }
}
@media (max-width: 330px) {
  .header__main_title {
    font-size: 25px;
  }
}
