body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header__container,
.header__main_container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px 20px;
}

.header__nav_logo_links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}
.header__nav_logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  width: 100%;
  height: 150px;
  cursor: pointer;
}
.header__nav_links {
  display: flex;
  gap: 35px;
}

.header__nav_language {
  display: flex;
  justify-content: flex-end;
  padding: 10px 50px 0px 0;
  gap: 20px;
  font-size: 12px;
}
.lang_btn,
.link_btn {
  background-color: #404449;
  padding: 2px 15px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
}
.link_btn {
  padding: 5px 25px;
  font-size: 14px;
}

.header__main_title {
  color: #fff;
  -webkit-text-stroke: 0.2px #ffea00;
  font-size: 45px;
  margin: 0;
  letter-spacing: 5px;
}
.header__main_title:nth-child(2) {
  margin-bottom: 30px;
}
#dayz_word {
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff !important;
  -webkit-text-stroke: 0px;
}
.header__main_underTitle_text {
  font-size: 18px;
  color: #fff;
  margin-bottom: 50px;
}
.underTitle_second {
  -webkit-text-stroke: 0.1px #ffea00 !important;
  font-size: 20px;
  font-family: "Calistoga";
}
.header__main_ip_port {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  font-family: "Bowlby One";
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  header {
    height: inherit;
  }
  .header__nav_language {
    padding: 10px 10px 0 0;
  }
}
@media (max-width: 1100px) {
  header {
    height: 100vh;
  }
}

@media (max-width: 700px) {
  .header__main_title {
    font-size: 30px;
  }
  .header__main_container {
    padding: 0;
  }
}
@media (max-width: 600px) {
  header {
    height: inherit;
  }
}
@media (max-width: 500px) {
  .header__nav_language {
    margin: auto;
    justify-content: center;
  }
  .header__nav_logo_links {
    display: flex;
    flex-wrap: wrap;
  }
  .header__nav_logo {
    width: 170px;
  }
  header {
    height: 100vh;
  }
}

@media (max-width: 480px) {
  .header__main_ip_port {
    font-size: 20px;
  }
  .header__main_underTitle_text {
    font-size: 14px;
  }
  .header__main_title {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .header__container {
    padding: 0 10px 20px;
  }
}