.dark_modal_bg {
  background-color: #0000009a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 3;
}
.modal_rules {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translate(-50%);
  height: 90vh;
  top: 60px;
  z-index: 3;
}
.unActive {
  display: none;
}

